@import "shared.scss";

body {
  color: $black;
  margin: 0;
  padding: 0;
}

a {
  color: $green;
  &:hover,
  &:focus {
    color: lighten($green, 20%);
  }
  &:active {
    color: $yellow;
  }
}

.container {
  margin: 10px auto;
  max-width: $maxWidth;
  padding: 7px 20px;
}
