$black: #292929;
$grey: #cccccc;
$white: #ffffff;
$green: #749f89;
$pink: #f8aea9;
$yellow: #fddd9f;
$peach: #f5cdb4;
$olive: #9a881e;

$maxWidth: 1000px;

$serif: Georgia, Times, "Times New Roman", serif;
