@import "shared.scss";

.Header {
  font-family: $serif;
  display: flex;
  flex-direction: row;
  height: 34px;
  padding: 7px 0;
  font-size: 18px;
  max-width: $maxWidth;
  margin: 0 auto;
}

.Header > * {
  flex-grow: 1;
}

.Header_blogName {
  color: $green;
  text-align: left;
}

.Header_logo {
  text-align: center;
  color: $black;
}

.Header_help {
  text-align: right;
  color: $black;
}
